.BT {
  font-family: 'Josefin Sans', sans-serif !important;
  align-items: center !important;
  font-size: 30px;
}

.logo-main {
  color: #F05;
  text-decoration: none;
  transition: 0.5s;
}

.logo-main:hover {
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

/* .image {
  -webkit-animation:spin 0.5s linear infinite;
  -moz-animation:spin 0.5s linear infinite;
  animation:spin 0.5s linear infinite;
  animation-iteration-count: 2;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } */